%%-*- mode: erlang -*-

{sub_dirs, ["rel"]}.

%% Erlang compiler options
{erl_opts, [debug_info,
            {parse_transform, lager_transform},
            {i, "test"},
            {src_dirs, ["src"]}
           ]}.

{deps, [
    {lager, ".*", {git, "git://github.com/basho/lager", {tag, "2.0.3"}}},
    {amqp_client, ".*", {git, "https://github.com/moooofly/amqp_client.git", "master"}},
    {emysql, ".*", {git, "https://github.com/Eonblast/Emysql.git", {tag, "0.4.1"}}},
    {eredis, ".*", {git, "https://github.com/wooga/eredis.git", {tag, "v1.0.6"}}}
]}.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
 
{cover_enabled, true}.

